# Install and run clang-tidy 
name: Clang-tidy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check-formatting:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run clang-tidy
      uses: HorstBaerbel/action-clang-tidy@1.0
      with:
        scandir: '.'
        builddir: 'build'
        excludedirs: ''
        extensions: 'h,cpp'
        cmakeoptions: ''
